@font-face {
    font-family: Grotesk-Bold;
    src : url(../fonts/Px-Grotesk-Bold.woff)
    }
    @font-face {
        font-family: Grotesk-Regular;
        src : url(../fonts/Px-Grotesk-Regular.woff)
        }
.DetaiContainer{
    height: 100vh;
    background-color: #ffe581;
    border-left: 2px slid #000;
    width: 400px;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 2rem;
    padding-left: 1rem;
   
    .details{
        display: flex;
     
        .detials-image{
            width: 100%;
            height: 100%;
            img{
                object-fit: cover;
                width: 50%;
            } 
        }
        .exit{
            width: 2rem;
            background-color: rgb(167,225,248);
            border-radius: 70%;
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid black;
        }
    }
    .title{
        margin-top: 1rem;
        font-family:Grotesk-Bold;
        font-size: 1.2rem;
    }
    .author{
        margin-top: 1rem;
        font-family: cursive;
        font-size: 1.4rem;
    }
    .description{
        margin-top: 1rem;
   font-family:  Grotesk-Regular;
//    width: 70%;
    }
    .published{
        font-family: fantasy;
        margin-top: 1rem;
    }
}