.hero{
    background-color: rgb(167,225,248);
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    gap: 120px 40px;
    padding-top: 40px;
    padding-right: 1rem;
    padding-left: 1rem;
    z-index: -1;
   
}