
header{
    overflow: hidden;
    width: 100%;
    min-height: 10vh;
    background-color: rgb(255,188,204);
     overflow: hidden;
    nav{
       
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .logo{
            img{
            
                width: 10rem;
            }
        }

    }
    
}
